<mat-tab-group>
  <mat-tab label="Registered">
    <input type="text" (keyup)="registeredTable.gtSearch($event.target.value)">

    <generic-table [gtClasses]="'table-bordered table-sm'" #registeredTable [gtOptions]="{ numberOfRows: 10000 }"
                   [gtSettings]="configObject.settings" [gtFields]="configObject.fields"
                   [gtData]="configObject.data"></generic-table>

  </mat-tab>


  <mat-tab label="Payment">
    <input type="text" (keyup)="paymentTable.gtSearch($event.target.value)">
    <generic-table [gtClasses]="'table-bordered table-sm'" #paymentTable [gtOptions]="{ numberOfRows: 10000 }"
                   [gtSettings]="paymentObject.settings" [gtFields]="paymentObject.fields"
                   [gtData]="paymentObject.data"></generic-table>

  </mat-tab>
</mat-tab-group>

<!--
<input type="text" (keyup)="registeredTable.gtSearch($event.target.value)">

<generic-table [gtClasses]="'table-bordered table-sm'" #registeredTable [gtOptions]="{ numberOfRows: 10000 }"
               [gtSettings]="configObject.settings" [gtFields]="configObject.fields"
               [gtData]="configObject.data"></generic-table>

-->
